<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Product Detail</h1>
        <p>description: dummy</p>
    </main>
<%- include('../includes/end.ejs') %>

